.randomize-box {
  margin: 10px;
}

.form-box {
  margin: 10px;
}

.users-box {
  .user {
    margin: 0 5px;
    display: inline-block;
  }
  margin: 10px;
}

input {
  margin: 5px;
}

button.right-button {
  margin: 5px;
  text-align: right;
}

.close {
  margin: 0 0 0 5px;
  font-size: 90%;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}
