.randomize-box {
  margin: 10px;
}

.form-box {
  margin: 10px;
}

.users-box {
  .user {
    margin: 0 5px;
    display: inline-block;
  }
  margin: 10px;
}

input {
  margin: 5px;
}

button.right-button {
  margin: 5px;
  text-align: right;
}
